@import "@material/textfield/mdc-text-field";
.button-container {
    display: flex;
    justify-content: flex-end;
    width: 300px;
    margin: auto;
  }
  
  .button-container button {
    margin: 3px;
  }